<!-- Image and text -->
<nav class="navbar navbar-light bg-light">
  <ul class="navbar-nav">
    <li class="nav-item" [class.active]="aba == 'home'" (click)="aba = 'home'">
      <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item" [class.active]="aba == 'feactures'" (click)="aba = 'feactures'">
      <a class="nav-link" href="#">Features</a>
    </li>
    <li class="nav-item" [class.active]="aba == 'pricing'" (click)="aba = 'pricing'">
      <a class="nav-link" href="#">Pricing</a>
    </li>
    <li class="nav-item">
      <a class="nav-link disabled" href="#">Disabled</a>
    </li>
  </ul>
</nav>

<div class="container" [ngSwitch]="aba">

  <p *ngSwitchCase="'feactures'">Feactures ativado</p>
  <p *ngSwitchCase="'pricing'">Pricing ativado</p>
  <p *ngSwitchDefault>Home ativado</p>

</div>
